          <ul class="nav nav-tabs">
            <li class="active"><a href="/portfolio"><b>PortFolio</b></a></li>
            <ul class="nav nav-tabs navbar-right">
                <li><a href="/auth/register"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
                <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
            </ul>
          </ul>